{% extends "base.html" %}
{% block content %}
    <h1>Luokat</h1>
    <p>     
        <a href="luokka/new" class="btn btn-default">Lisää luokka</a>  
    </p>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Kuvaus</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for luokka in luokat %}
            <tr>
                <td><a href="{{base_path}}/luokka/{{luokka.id}}">{{luokka.nimi}}</a></td>
                <td>{{luokka.kuvaus}}</td>
                <td><a href="{{base_path}}/luokka/{{luokka.id}}/edit" class="btn btn-default">Muokkaa</a></td>
                <form method="post" action="{{base_path}}/luokka/{{luokka.id}}/destroy">
                    <td><button class="btn btn-danger">Poista</button></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}